body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

::selection {
    background-color: transparent;
    color: #f2a649;
}
